body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: white;
}
.container-fluid{
    padding: 3% 15% 7%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}
h3{
    font-family: 'Montserrat', sans-serif;

}
p{
    color: #8f8f8f;
}
/* navbar */
.navbar{
    padding: 0 0 4.5rem 0;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}
/* features */
#features{
    padding: 7% 15%;
    background-color: white;
    z-index: 1;
    position: relative;

}
.discription{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
/* Testimonials section */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.carousel-item{
    padding: 7% 15%;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials-image{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
} 
/* pricing */
#pricing {
    padding: 100px;
    text-align: center;
  }
  .pricing-column {
    padding: 3% 2%;
  }
@media (max-width : 1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
    
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 100px 15% 40px;
}
#cta h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}
#footer{
    text-align: center;
    margin: 75px 10px;
}
.social-icon{
    color: rgba(0, 0, 0, 0.774);
    margin: 20px 20px;
}